<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img class="navbar-brand" [src]="imageLogo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a  routerLink="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active"> 
            <a [routerLink]="['/mens-clothing']" class="nav-link">Men Clothing</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>